.footer {
    display: flex;
    flex-direction: column;
    font-family: $font-paragraph;
    padding-right: 100px;
    padding-left: 100px;
    box-sizing: border-box;
    max-width: 1440px;
    margin-top: 120px;
    margin-bottom: 50px;
}

.footer__copyright {
    display: flex;
    align-self: flex-end;

    span:not(.footer__copyright-smile) {
        font-family: $font-main;
        font-size: 20px;
        margin-left: 20px;
        color: $main-black;
    }

    h3 {
        font-family: $font-main;
        margin: 0;
        font-size: 20px;
        color: $main-black;

        a {
            text-decoration: none;
            color: $main-hover-buttons;
        }
    }
}

.footer__copyright-smile {
    display: none;

    &--visible {
        display: inline-block;
    }
}

@media (max-width: $tablet-width) {
    .footer {
        padding-right: 19px;
        padding-left: 19px;
        max-width: 768px;
        margin-top: 0;
    }
}

@media (max-width: $mobile-width) {
    .footer {
        padding-right: 5px;
        padding-left: 5px;
        max-width: 320px;
    }
}
