.header {
    display: flex;
    font-family: $font-paragraph;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 100px;
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
}

.header__nav-tab {
    display: none;
}

.header__nav {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.header__nav-genres {
    align-self: flex-end;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    max-width: 440px;

    li {
        &:nth-of-type(n+1) {
            margin-right: 20px;
        }

        &:nth-of-type(4n) {
            margin-right: 0;
        }
    
        &:nth-of-type(n+5) {
            margin-top: 20px;
        }
    }
}

.header__nav-button {
    border: none;
    font-family: $font-header;
    font-size: 25px;
    cursor: pointer;
    background-color: transparent;
    color: $main-black;
    transition: color $trans--300;

    @media (hover: hover), screen and (min-width: 0\0) {
        &:hover,
        &:focus {
            color: $main-hover-buttons;
        }
    }

    &--selected {
        color: $main-active-buttons;
    }
}

.header__nav-filters {
    display: flex;
    align-self: flex-end;
    margin-top: 15px;
    max-width: 520px;

    button {
        font-family: $font-header;
        font-size: 20px;
        cursor: pointer;
        border-radius: 5px;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        background-color: transparent;
        box-sizing: border-box;
        min-width: 140px;
    }

    div:not(.header__nav-filters-item) {
        display: flex;
        flex-direction: column;
        position: relative;

        &:nth-of-type(n+2) {
            margin-left: 50px;
        }
    }
}

.header__nav-filters-item {
    display: none;
    background-color: transparent;
    z-index: 50;
    border-radius: 5px;
    position: fixed;
    overflow: auto;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;

    &--visible {
        display: flex;
        opacity: 1;
    }

    ul {
        margin: 0;
        padding: 0;
        width: auto;
        min-width: 130px;
        height: auto;
        position: absolute;
        top: 100px;
        background-color: $main-white;

        li {
            margin: 0;
            padding: 0;
            list-style: none;
            align-self: center;
            border-bottom: 1px solid $main-black;
            width: 100%;
            border-collapse: collapse;
            cursor: pointer;
            font-family: $font-paragraph;
            text-align: right;
    
            &:nth-of-type(n+2) {
                margin-top: 3px;
            }
    
            @media (hover: hover), screen and (min-width: 0\0) {
                &:hover,
                &:focus {
                    color: $main-hover-buttons;
                }
            }
        }
    }

    &--genre {
        ul {
            right: 110px;
        }
    }

    &--year {
        ul {
            right: 300px;
        }
    }

    &--country {
        ul {
            right: 490px;
        }
    }
}

@media (max-width: $tablet-width) {
    .header {
        padding-right: 19px;
        padding-left: 19px;
        max-width: 768px;
        position: relative;
    }

    .header__nav {
        position: fixed;
        display: none;
        max-height: 100%;
        overflow-y: auto;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 40;
        background-color: $main-white;

        &--opened {
            display: flex;
            flex-direction: column;
    
            .header__nav-tab {
                &--close {
                  display: block;
                }
            }
        }
    }

    .header__nav-tab {
        position: absolute;
        top: 15px;
        right: 15px;
        background-repeat: no-repeat;
        background-size: 25px 25px;
        width: 25px;
        height: 25px;
        border: none;
        background-color: transparent;
        display: block;

        &--close {
            background-image: url("../../img/icon-cross.svg");
            display: none;
            top: 20px;
            right: 25px;
        }

        &--open {
            background-image: url("../../img/icon-menu-black.svg");
        }
    }

    .header__nav-filters {
        align-self: center;
        height: 60%;
        overflow-y: auto;
        padding-left: 45px;
        padding-right: 45px;
        padding-bottom: 80px;
        box-sizing: border-box;
        flex-direction: column;
        width: auto;
        min-width: 80%;
        z-index: 500;
        margin-top: 15px;

        div:not(.header__nav-filters-item) {
            width: auto;
            padding-top: 10px;
            padding-left: 25px;
            padding-right: 25px;
            padding-bottom: 10px;
            border-bottom: 1px solid $main-black;
            position: relative;

            &:nth-of-type(n+2) {
                margin-left: 0;
                margin-top: 15px;
            }
        }

        button {
            border: none;
            text-align: left;
            font-size: 25px;
            padding: 0;
            padding-left: 20px;
        }
    }

    .header__nav-filters-item {
        ul {
            right: 123px;
            top: 350px;
            border: 1px solid $main-black;
            border-radius: 5px;
            padding-top: 10px;
            padding-left: 25px;
            padding-right: 25px;
            padding-bottom: 10px;
        }
    }

    .header__nav-genres {
        height: 40%;
        overflow-y: auto;
        align-self: center;
        padding-top: 30px;
        padding-left: 45px;
        padding-right: 45px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: auto;
        min-width: 80%;
        z-index: 500;
  
        li {
            width: auto;
            padding-top: 10px;
            padding-left: 25px;
            padding-right: 25px;
            padding-bottom: 10px;
            border-bottom: 1px solid $main-black;

            &:nth-of-type(n+1) {
                margin-right: 0;
              }
  
            &:nth-of-type(4n) {
                margin-right: 0;
              }
      
            &:nth-of-type(n+5) {
                margin-top: 0;
              }

            &:nth-of-type(n+2) {
                margin-top: 15px;
              }
          }
      }
}

@media (max-width: $mobile-width) {
    .header {
        padding-right: 5px;
        padding-left: 5px;
        max-width: 320px;
    }

    .header__nav-genres {
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 50px;
        width: auto;
        min-width: 50%;
    }

    .header__nav-filters-item {
        min-width: 150px;
        right: -5px;
        top: 45px;

        ul {
            right: 123px;
            top: 150px;
        }
    }

    .header__nav-filters {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 50px;
    }
}